PORT=4200
NODE_ENV=development
FRONTEND_URL=http://localhost

# ============== JWT auth ====================
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
JWT_ACCESS_SECRET=jwt_access_secret
JWT_REFRESH_SECRET=jwt_refresh_secret
# ============================================

# ============= Google auth ==================
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
# ============================================

# ====== AI sentences generation =============
AI_API_KEY=
AI_MODEL=
AI_MAX_TOKENS=
AI_API_URL=
# ============================================